<!doctype html>
<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   <!--CSS Link-->
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <title>2021 Olympics Data</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/olympic_favicon.png"/>
  </head>

  <!-- Jumbotron Banner -->
  <body class=background>
    <div class="jumbotron jumbotron-fluid" style="background-color: rgb(28, 37, 153); color: white; padding-top: 1px; padding-bottom: 2px; text-align: center;">
      <div class="container">
        <h1 class="display-4"><img src="../static/olympic_logo.png" alt="logo" width="70" > 2021 Olympics</h1>
        <p class="lead" style="text-align: center;">Click an icon below for a deep dive into the data</p>
      </div>
    </div>


    <div class="container-fluid">

      <div class= "row">

        <div class="col-12 col-md-12 col-lg-6">

          <div class="jumbotron jumbotron-fluid" style="color: rgb(151, 78, 78); margin-top: 17%; margin-left: 10%; margin-bottom: 11%; text-align: left;">
            <div class="container">
              <h1 class="display-4">The Data Restaurateurs</h1>
              <h4><i>Eating Good in your Neighborhood!</i></h4>
            </div>
          </div>

        </div>

        <div class="col-12 col-md-12 col-lg-6">
          <!-- Leave this column empty -->
        </div>


      <div class="row">

    

          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <a style="text-decoration: none;" href="/restaurantfinder">
              <h4 class="landing">Find Restaurants</h4>
            </a>
             
            <a href="restaurantfinder">
              <img class="panel" src="/static/findarestaurant3.png" alt="Find a Restaurant">
              
            </a>
          </div>


          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <a style="text-decoration: none;" href="/borocuisines">
              <h4 class="landing">NYC Cuisines</h4>
            </a>
            
            <a href="/borocuisines">
              <img class="panel" src="/static/nyccuisines3.png" alt = "Cuisines" >
            </a>
          </div>


          <div class="col-6 col-sm-6 col-md-3 col-lg-3">       
            <a style="text-decoration: none;" href="/violationdata">
              <h4 class="landing">Restaurant Violations</h4>
            </a>
            
            <a href="/violationdata">
              <img class="panel" src="/static/violations3.png" alt="Violations">
            </a>

          </div>


          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <a style="text-decoration: none;" href="/othergraphs">
              <h4 class="landing">Food Fortune</h4>
            </a>
            
            <a href="/othergraphs">
              <img class="panel" src="/static/dice3.png" alt="Other" >
            </a>

          </div>

  
      </div> <!--end row-->

    
    </div>   <!--end container-->

    
    <!-- Copyright Information -->
    <a style="text-decoration: none;" href="https://github.com/meetk5/Team-Project3"><p class="copyright">© 2021 The Data Restaurateurs</p></a>
    <div>cons made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
         
               
    <!-- JavaScript: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
 </body>
</html>