<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <!-- Styles CSS -->
  <link rel="stylesheet" href="../static/styles.css">

  <title>Medals</title>
  <link rel="shortcut icon" type="image/jpg" href="../static/olympic_favicon.png" />
</head>

<body>

  <body>


    <!-- Navbar  -->

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: rgb(28, 37, 153);">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="../static/olympic_logo.png" alt="" width="35">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="athletes.html">Athletes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="medals.html">Medals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="facts.html">Fun Facts</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>



    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Medals</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="well">
            <h4>VISUAL 1 TITLE</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="pie"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="borochart"></div>
        </div>

      <script src="https://d3js.org/d3.v5.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="../static/js/Boro1.js"></script>
      <script src="../static/js/Boro2.js"></script>
      <div class="container">

      </div>






      <!-- JavaScript: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


  </body>

</html>